<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="navbar-inner">
        <div class="container">
          <%= link_to "Kumon Online", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Help",    help_path %></li>
              <% if signed_in? %>
                <li><%= link_to "Payment",    pay_path %></li>
                <li><%= link_to "Profile", current_account %></li>
                <li><%= link_to "Settings", edit_account_path(current_account)%></li>                
                <% if current_account.admin? %>
                  <li><%= link_to "Accounts", accounts_path %></li>                  
                <% else %>
                  <li><%= link_to "Exam",    'http://gpbeta.heroku.com/' %></li>
                <% end %>
                
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>

              <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
  </div>
</header>