<% provide(:title, 'Sign up') %>

<%= link_to image_tag("kumonlogo.png", alt: "kumon"), '"http://www.kumon.com/' %>
<h1>Registry Online</h1>

<div class="container">
  <div class="span6 offset3">
    <%= form_for @account do |f| %>

      <!--%= render 'shared/error_messages', object: f.object %-->
          <div class = "well">
          <H3>Account Information </H3>
          <div class = "row">
            <div class ="span2">Email Address</div>

            <div class ="span9"><%= f.text_field :user_id, :class=> 'input-block-level', :placeholder=>'Email address'%> </div>           
         </div>

          <div class="row">
            <div class ="span2">Password</div>
            <div class ="span9">
            <%= f.password_field :password, :class=> 'input-block-level', :placeholder=>'Password'%></div>
          </div>
          <div class="row">
            <div class = "span2">Confirm Password</div>
            <div class = "span9"><%= f.password_field :password_confirmation, :class=> 'input-block-level', :placeholder=>'Confirm Password'%> </div>         
          </div>    
      </div>
      <hr/>
	  
    <div class="well">
	    <H3> Home Address</H3>
       <%= f.fields_for :address do |address_fields| %>    	
      		<div class="row-fluid">
            <div class = "span4">Street Address</div>
            <div class="span8"><%= address_fields.text_field :address1,:class=> 'input-block-level', :placeholder=>'Street Address', :size=>40%> </div>
          </div>
          <div class="row-fluid">          
            <div class = "span4">Apt/Suite</div>
            <div class="span8"><%= address_fields.text_field :address2,:class=> 'input-block-level', :placeholder=>'Apt/Suite', :size=>40 %></div>
          </div>
          <div class="row-fluid">
            <div class = "span4">City </div>
            <div class="span8"><%= address_fields.text_field :city, :size=>20,:class=> 'input-block-level', :placeholder=>'City' %> </div>
          </div>
          <div class="row-fluid">          
            <div class = "span4">State</div>
       		  <div class="span8"><%= address_fields.select :state, [['State','State'],['PA','PA'],['CA','CA']] ,:size=>2, :maxlength=>2,:class=> 'input-block-level', :placeholder=>'State' %> </div>
          </div>
          <div class="row-fluid">
            <div class = "span4">Zip</div>
       		  <div class = "span8"><%= address_fields.text_field :zip, :size=>5, :maxlength=>5,:class=> 'input-block-level', :placeholder=>'Zip' %> </div>
          </div>         
       <% end %>
    </div>       
       <hr/>
    <div class="well">
       <H3> Student Information</H3>
       <%= f.fields_for :students do |student_fields| %>
	       <%= student_fields.fields_for :contact do |student_contact_fields| %> 	
         <div class="row">
           <div class = "span2">First Name</div>
            <div class="span3"><%=student_contact_fields.text_field :first_name,:class=> 'input-block-level', :placeholder=>'First Name' %> </div>
             <div class = "span2">Middle Name</div>
	       		<div class="span3"><%=student_contact_fields.text_field :middle_name,:class=> 'input-block-level', :placeholder=>'M.I.',:size=>4 %> </div>
             <div class = "span2">Last Name</div>
	       		<div class="span3"><%=student_contact_fields.text_field :last_name,:class=> 'input-block-level', :placeholder=>'Last Name',:size=>20 %> </div>
				    <div class = "span2">Gender </div>
          <%= student_contact_fields.select :gender,[['Female','Female'],['male','male']]%>
				    <div class = "span2">Birthday</div>
          <%= student_contact_fields.text_field :birthday,:id=>"birthday_id"%>
				    <div class = "span2">Email</div>
          <%= student_contact_fields.text_field :email%>
	       <% end %>
	       <div class = "span2">Grade </div>
         <%=student_fields.select :grade,[['PK1','PK1'],['PK2','PK2'],['K','K']] %> <br>
	       <div class = "span2">School Year Start</div> <%=student_fields.text_field :school_year_start %> 
	       <div class = "span2">School Year End </div> <%=student_fields.text_field :school_year_end %> 
       <% end %>
    </div>   
  </div>
    <hr>
     <div class="well">
       <H3> Parent/Guardian Information </H3>
       <%= f.fields_for :guardian do |guardian_fields| %>
	       <%= guardian_fields.fields_for :contact do |contact_fields| %> 	       	
	       		<div class = "span2">First Name </div>
            <%=contact_fields.text_field :first_name %> 
	       		<div class = "span2">Middle Name </div>
            <%=contact_fields.text_field :middle_name %> 
	       		<div class = "span2">Last Name </div>
            <%=contact_fields.text_field :last_name %>
            <div class = "span2">Email</div>
            <%= contact_fields.text_field :email%>
            <div class = "span2">Home Phone</div>
            <%= contact_fields.text_field :home_phone%>
            <div class = "span2">Cell Phone</div>
            <%= contact_fields.text_field :alt_phone%>
	       <% end %>
       <% end %>
     </div>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>    
  </div>
</div>
</div>

