<p id="notice"><%= notice %></p>


<div class="well">

  <b>Account User ID:</b>
  <%= @account.user_id %>
<br><br>
<b> Address:  </b><br>
<%= @account.address.to_s %>

<br><br>
<b> Student: </b><br>
<%= @account.students.first.contact.to_s %><br>
Grade: <%= @account.students.first.grade %><br>
School Year : <% @account.students.first.school_year_start %> - <% @account.students.first.school_year_end %>

<br><br>
<b> Parent/Guardian: </b><br>
<%= @account.guardian.contact.name %> <br>
<%= @account.guardian.contact.contactInfo %>
<br>
</div>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
